<!DOCTYPE html>
html(lang="en")
    head

            
        link(rel='shortcut icon', href='../assets/favicon.jpeg')
        link(rel='icon', href='../assets/favicon.jpeg')
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Peter Cassara Clothiers
        link(href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css', integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp', crossorigin='anonymous')
    body
             
        

        div.container
            br
            .alert.alert-primary.alert-dismissible.fade.show(role='alert')
                strong Give us a 5 star review on Yelp &nbsp;
                        a(href="https://www.yelp.com/biz/peter-cassara-clothiers-sunnyvale" style="color:black;")
                                i.fab.fa-yelp(style="font-size:20px")
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                    span(aria-hidden='true') &times;
            h4.text-center.font-weight-light  Men's Suit- Men's Dress -Italian Suits
            br   
            h2.title Cassara Clothiers
                small
                    p.muted-text Sunnyvale, California
            br
            div.embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src='https://www.youtube.com/embed/erOqG2S9piQ', allowfullscreen='') 
            br
            .text-left
                h4 We sell and rent the best brands including:
            br
            table.table.table-sm.table-responsive
                tbody
                    tr
                        td BRESCIANI
                        td BARONI
                        td RENOIR FASHIONS		
                    tr    			
                        td LONDON FOG	
                        td HARMONY	
                        td PIATTELLI					
                    tr 
                        td ROSSETTI
                        td STATEMENT				
                        td HUBBARD 		
                    tr
                        td FORSYTH	
                        td KEEPERS	       								
                        td AQUARIOUS	
                    tr
                        td GIONFRIDDO
                        td SANSABELT	
                        td STATUS
                    tr
                        td VERONESI
                        td CITY STREETs
                        td EJ SAMUEL      
                    tr
                        td GRUPPO BRAVO	
                        td HARDWICK	
                        td DORFMAN
            br
            .card
                .card-body
                    h5.card-title Find us.
                    h6.card-subtitle.mb-2.text-muted Contact Information
                    p.card-text Peter Cassara Clothiers 842 West El Camino Real, Sunnyvale, CA. 94087
                    a.card-link(href='tel:4087331234') 408-733-1234
                    br
                    a.card-link(href='mailto:peter@petercassaraclothiers.com') peter@petercassaraclothiers.com   
            br     
            .embed-responsive.embed-responsive-4by3
                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3170.849028988448!2d-122.04466228453629!3d37.3697489798352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb6f4cae12629%3A0xce94272382842c9e!2sPeter+Cassara+Clothiers!5e0!3m2!1sen!2sus!4v1526747560421', width='400', height='300', frameborder='0', style='border:0', allowfullscreen='')
            br
            footer.footer
                p Content copyright 2018. Peter Cassara Clothiers. All rights reserved.  

    script(src="../node_modules/jquery/dist/jquery.min.js")
    script(src="../node_modules/popper.js/dist/popper.min.js")
    script(src="../node_modules/bootstrap/dist/js/bootstrap.min.js")